@import "../../styles/partials/_colours";
@import "../chess/chess.scss";

#special-rule {
  @extend #game-controls;
  ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 2px;
    text-align: center;
    cursor: pointer;
    button {
      @extend #game-controls;
      width: 100%;
    }
  }
}
