/*
 * GENERAL
 */
$darken-amount: 5%;

/* Colours*/
$satsuki-blue: #0117ff;
$satsuki-white: #fefefe;
$junketsu-eye-red: #CA273C;
$satsuki-hair-black: #1A1323;

$white: #fff;
$black: #000;

/*
 * USAGES
 */
$primary-background: $satsuki-blue;
$primary-colour: $satsuki-blue;
$primary-colour-contrast: $satsuki-white;

$secondary-background: $junketsu-eye-red;
$secondary-colour: $junketsu-eye-red;
$secondary-colour-contrast: $satsuki-hair-black;
