// Colour helpers
$darken-amount: 5%;

// Colours
$satsuki-blue: #0117ff;
$satsuki-white: #fefefe;
$junketsu-eye-red: #CA273C;
$satsuki-hair-black: #1A1323;

$white: #fff;
$black: #000;

$onyx: #0f0f0f;
$grey: #eee;
$gold: #ffd700;
$light-black: #444;

// Usages
$primary-background: $satsuki-blue;
$primary-colour: $satsuki-blue;
$primary-colour-contrast: $satsuki-white;

$secondary-background: $junketsu-eye-red;
$secondary-colour: $junketsu-eye-red;
$secondary-colour-contrast: $satsuki-hair-black;

$board-border-colour: $onyx;

$square-background-light: $grey;
$square-background-dark: $light-black;
$square-background-selected: $gold;
$square-background-in-check: $secondary-background;
