$pieces: (
  black-pawn: 'black_pawn',
  black-rook: 'black_rook',
  black-knight: 'black_knight',
  black-bishop: 'black_bishop',
  black-queen: 'black_queen',
  black-king: 'black_king',
  white-pawn: 'white_pawn',
  white-rook: 'white_rook',
  white-knight: 'white_knight',
  white-bishop: 'white_bishop',
  white-queen: 'white_queen',
  white-king: 'white_king'
);

$onyx: #0f0f0f;
$grey: #eee;
$gold: #ffd700;
$light-black: #444;

$border-width: 1px;
$scale-size: 20;

$square: (
  size: 40,
  lightBackground: $grey,
  darkBackground: $light-black,
  selected: $gold,
);
$chess-board: (
  size: map-get($square, size) * 8 + 2,
  borderColour: $onyx
);
