.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chess-game {
  @extend .center-contents;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-left: 25%;
  #game-controls {
    @extend .center-contents;
    width: 20vw;
    height: 100%;
  }
}
