* {
  box-sizing: border-box;
}

#root {
  height: 94vh;
  border: {
    width: 2px;
    style: dashed;
  }
  font: {
    size: 16px;
    family: calibri, monospace;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
